<html>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        .top_header_wrapper {
                
                height:34px ;
                background-color: #f16e8e;
            }
            .top_header_wrapper .top_header_group {
                margin-left: -15px;
                margin-right: -15px;
                height: 34px;
            }
            .top_header_wrapper .top_header_group .top_header {
                display: inline-block;
                *display: block;
                zoom: 1;
                width: 100%;
                height: 34px;
            }
            .top_header {
                margin-left: 200px;
                height: 34px;
                line-height: 34px;
                color: #fff;
            }
            .top_header_wrapper .top_header_group .top_header>div.right-area {
                height: 34px;
                float: right;
                /* text-align: right; */
            }
            .main-header {
                background: #fff;
                height:150px;
                box-shadow: 0px 2px 10px -5px #343434;
                margin-bottom: 1px;
            }
            .search{
                border-radius: 30px;
                border: 1px solid#ff789e;
                height:40px;
                width: 50%;
                margin-top: 30px;
                background-color: #ffffff;
            }
            .search_input{
                border:0px solid #ffffff;
                margin-top: 5px;
                font-size: 130%;
                width: 90%;
            }
            .button_input{
                float:right;
            background-color: #ffffff;
            border: 0px solid #ffffff;
            font-size: 150%;
            margin-top: 8px;
            color: #ff789e;
            }
            .a{
                color:gray;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .ab {
                margin: 60px 0px 10px 0px;
                height: auto;
                background-color:#f1f1f1;
            }
            .ab1 {
                margin: 60px 0px 10px 0px;
                height: auto;
                background-color:#ffffff;
            }
            a{
                font-size: 16px;
                color: #686868;
            }
            a:hover{
                color: #ff789e;
                text-decoration: none;
            }
            k{
                font-size: 16px;
                color: LightSlateGray;
            }
            k:hover{
                color: #ff789e;
                text-decoration: none;
            }
            
            .ew {
                height: 300px;
            }
            hr{
                border-color:black;
            }
            .list {
                background-color: #ff789e;
                color: white;
                padding-top: 3px;
                height: 5%;
                width: 100%;
                font-size: 16px;
            }
            .button_page {
                background: #f1f1f1;
                height: 330px; margin-top: 30px;
            }
            
            .b {
                margin-top: 20px;
            
            }
            
            p {
                font-size: 130%;
            }
        
            .pro {

                width: 250px;
                height: 330px;
                margin-right: 10px;
                margin-bottom: 15px;


            }


            .proimg {
                margin-top: 15px;
                width: 200px;
                height: 230px
            }
            .form-control {
            display: block;
            width: 40%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .bean{
            border:1px dashed #ff789e;
        }
        .bean:hover{
            transform: scale(0.97);
            border: 1px dashed #ff789e;
        }
        .gachchanba{
            border-bottom: 2px solid #ff789e;
            width: 100px;
            text-align: left;
            margin-top: 20px;
            padding-bottom: 20px;
            
        }

        .dongbean {
            
            height:35px;
        }
        .dongbean a{
            color: #1d1b1b;
        }
        .dongbean a:hover{
            color: #ff789e;
            text-decoration: none;
        }
        .anhbean{
            width: 182px;
            margin-left: -10px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .gachphancach{
            border-bottom: 1px dashed #3a2e2e;
        }
        .grcontent{
            height:992px;
        }
        .gcontent{
            height:500px;
        }
        .chu h4{
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 20pt;
            color:#5c290c;
            font-weight: 600;
        }
        b{
          color:#ff789e;
        }
     
    </style>
    <script>
        var user = {};
        function singup() {
            if (localStorage.getItem("token") != null) {
                localStorage.clear();
                window.location.reload();
            }
            else {
                event.preventDefault();
                $('#mainpage').addClass('hidden');
                let html = " <div  style='background-color:#f1f1f1; height:300px' >";
                html += "<div class='row'><br><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' ><div class='col-xs-3'></div><div class='col-xs-6' style='background-color:white;''>";
                html += "<div  id='login1'  ><h4 style='text-align: center;font-weight: bold;'>Đăng ký tài khoản MOKI</h4><div class='col-xs-1'></div><div>"
                html += "<div class='col-xs-3'style='font-size:16px;font-weight: bold;' >Nhập số điện thoại:</div><input class='form-control' id='phone' type='number' placeholder='Vui lòng nhập số điện thoại' name='phone' required></div><br>"
                html += "<div class='col-xs-1'></div><div><div class='col-xs-3'style='font-size:16px;font-weight: bold;' >Nhập mật khẩu:</div><input type='password' id='pass'  class='form-control' size='30px' name='pass' placeholder='Vui lòng nhập mật khẩu' required><br></div>";
                html += " <div class='col-xs-5'></div><button  onclick='sendsingup();' style='height: 25px; background: #f16e8e;font-weight: bold;'>Đăng Ký ! </button><br>";
                html += "<div class='col-xs-1'></div></div></div></div> </div><br></div><hr>";
                document.getElementById('login1').innerHTML = html;
            }
        }
        function sendsingup() {
            let phone = $('#phone').val();
            let pass = $('#pass').val();
            if (phone.length == 10 & pass.length > 5) {
                axios.post('/api/singup', {
                    phone: phone,
                    pass: pass
                }).then((res) => {
                    console.log(res.data);
                    if (res.data.code != 1000) {
                        alert("Thông tin bạn nhập không chính xác, vui lòng nhập lại.")
                        $('#phone').val("").focus();
                        $('#pass').val("");
                    }
                    else{
                        alert("Bạn đã đăng ký thành công. Mời đăng nhập để sử dụng dịch vụ.");
                        login();
                    }
                })
            }
            else {

                if (phone.length != 10) {
                    $('#phone').val("").focus();
                    $('#pass').val("");
                    alert("SDT không hợp lệ, vui lòng kiểm tra lại!");
                }
                if (pass.length < 6) {
                    $('#pass').val("").focus();
                    alert("Mật khẩu quá ngắn, vui lòng thử lại!");
                }

            }
        }
        function search() {
            let name = $('#search').val();
            console.log(name);
            event.preventDefault();
            axios.post('/api/search', {
                name: name,
                index: 0,
                count: 20

            }).then((res) => {
                //
                console.log(res.data.data);
                var html = "";
                if (res.data.data.length == 0) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>KhÔNG CÓ THÔNG TIN SẢN PHẨM CẦN TÌM</h1><hr>"
                }
                else {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>TẤT CẢ</h1><hr>"
                    html += "<br><br>"
                    for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src='" + res.data.data[i].imgavata + "'style='text-align: center;' width= '100%' height='100px'; />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                    }
                }
                document.getElementById('result').innerHTML = html;
            });
        }
        function login() {
            if (localStorage.getItem("token") == null) {
                event.preventDefault();
                $('#mainpage').addClass('hidden');
                let html = " <div  style='background-color:#f1f1f1; height:300px' >";
                html += "<div class='row'><br><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' ><div class='col-xs-3'></div><div class='col-xs-6' style='background-color:white; height:250px''>";
                html += "<div  id='login1'  ><h4 style='text-align: center;font-weight: bold;'>Đăng nhập tài khoản MOKI</h4><div class='col-xs-1'></div><div>"
                html += "<div class='col-xs-3'style='font-size:16px;font-weight: bold;' >Nhập số điện thoại:</div><input class='form-control' id='phone' type='number' placeholder='Vui lòng nhập số điện thoại' name='phone' required></div><br>"
                html += "<div class='col-xs-1'></div><div><div class='col-xs-3'style='font-size:16px;font-weight: bold;' >Nhập mật khẩu:</div><input type='password' id='pass'  class='form-control' size='30px' name='pass' placeholder='Vui lòng nhập mật khẩu' required><br></div>";
                html += "<div class='col-xs-7'></div><k onclick='forgetpass()' > Quên mật khẩu.</k><br><br>"
                html += " <div class='col-xs-5'></div><button  onclick='sendlogin()' style='height: 25px; background: #f16e8e;font-weight: bold;'>Đăng nhập ! </button><br>";
                html += "<div class='col-xs-1'></div></div></div></div> </div><br></div><hr>";
                document.getElementById('login1').innerHTML = html;


            }
            else {
                window.location.replace('/user');
            }

        }
        function forgetpass() {
            event.preventDefault();
            $('#mainpage').addClass('hidden');
            let html = " <div  style='background-color:#f1f1f1; height:300px' >";
            html += "<div class='row'><br><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' ><div class='col-xs-3'></div><div class='col-xs-6' style='background-color:white; height:250px''>"
            html += "<div  id='login1'  ><h4 style='text-align: center;font-weight: bold;'>Quên tài khoản MOKI</h4><div class='col-xs-1'></div><div><hr>"
            html += "<div class='col-xs-5'style='font-size:16px;font-weight: bold;' > Nhập số điện thoại để tiếp tục:</div><input class='form-control' id='phonecreate' type='number' placeholder='Vui lòng nhập số điện thoại' name='phone' required></div><br>"
            html += " <br><div class='col-xs-5'></div><button  onclick='sendcreatecode()' style='height: 25px; background: #f16e8e;font-weight: bold;'>Tiếp tục! </button><br>";
            html += "<div class='col-xs-1'></div></div></div></div> </div><br></div><hr>";
            document.getElementById('login1').innerHTML = html
        }
        let phone;
        function sendcreatecode() {
            $('#mainpage').addClass('hidden');
            let k = $('#phonecreate').val();
            if (k.length == 10) {
                phone = k;
                axios.post('/api/create_code_reset_password', {
                    phone: k
                }).then((res) => {
                    if (res.data.code == 1000) {
                        let html = " <div  style='background-color:#f1f1f1; height:300px' >";
                        html += "<div class='row'><br><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' ><div class='col-xs-3'></div><div class='col-xs-6' style='background-color:white; height:250px''>"
                        html += "<div  id='login1'  ><h4 style='text-align: center;font-weight: bold;'>Quên tài khoản MOKI</h4><div class='col-xs-1'></div><div><hr>"
                        html += "<div class='col-xs-5'style='font-size:16px;font-weight: bold;' > Nhập mã xác nhận để tiếp tục:</div><input class='form-control' id='codecreate' type='number' placeholder='Vui lòng nhập mã xác nhận' name='user' required></div><br>"
                        html += " <br><div class='col-xs-5'></div><button  onclick='sendcode()' style='height: 25px; background: #f16e8e;font-weight: bold;'>Tiếp tục! </button><br>";
                        html += "<div class='col-xs-1'></div></div></div></div> </div><br></div><hr>";
                        document.getElementById('login1').innerHTML = html
                    }
                    else {
                        alert(res.data.message + " hoặc SDT chưa được đăng ký, vui lòng kiểm tra lại.");
                        $('#phonecreate').focus();
                        return false
                    }
                })
            }
            else {
                alert("SDT không hợp lệ.");
                $('#phonecreate').focus();
            }
        }
        function sendcode() {
                let h = $('#codecreate').val();
                axios.post('/api/check_code_reset_password', {
                    reset_code: h,
                    phone: phone
                }).then((res) => {

                    if (res.data.code == 1000) {
                        let html = " <div  style='background-color:#f1f1f1; height:300px' >";
                        html += "<div class='row'><br><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12' ><div class='col-xs-3'></div><div class='col-xs-6' style='background-color:white; height:250px''>";
                        html += "<div  id='login1'  ><h4 style='text-align: center;font-weight: bold;'>Quên tài khoản MOKI</h4><div class='col-xs-1'></div><div><hr>";
                        html += "<div class='col-xs-5'style='font-size:16px;font-weight: bold;' >Nhập mật khẩu mới để tiếp tục:</div>";
                        html+="<input class='form-control' type='password' id='passnew1' name='user' placeholder='  Mật khẩu mới' required><div><br>";
                        html+="<div class='col-xs-5'></div><input class='form-control' type='password'placeholder='  Vui long nhập lại mật khẩu' name='pass' id='passnew2'>"
                        html += " <br><div class='col-xs-5'></div><button  onclick='changepassword()' style='height: 25px; background: #f16e8e;font-weight: bold;'>Tiếp tục! </button><br>";
                        html += "<div class='col-xs-1'></div></div></div></div> </div><br></div><hr>";
                        document.getElementById('login1').innerHTML = html
                    }
                    else alert(res.data.message);
                })
            }
            function changepassword() {
                let h = $('#passnew1').val();
                let k = $('#passnew2').val();
                alert(h + "  " + k);
                if (h.length < 6) {
                    alert("Mật khẩu yếu, vui lòng thử lại.");
                    $('#passnew1').val("").focus();
                    $('#passnew2').val("");
                    return false
                }
                if (h != k) {
                    alert("Có lỗi với password mới.");
                    $('#passnew1').val("").focus();
                    $('#passnew2').val("");
                }
                if (h.length > 5 && h == k) {
                    axios.post('/api/changepass', {
                        phone: phone,
                        passnew: h
                    }).then((res) => {
                        alert("Thành công, vui lòng đăng nhập lại để sử dụng dịch vụ");
                        window.location.reload();
                    })
                }
            }
        function sendlogin() {

            let phone = $('#phone').val();
            let pass = $('#pass').val();
            console.log(phone + pass);
            if (phone.length == 10 && pass.length > 5) {
                axios.post('/api/login', {
                    phone: phone,
                    pass: pass
                }).then((res) => {
                    console.log(res.data);
                    if (res.data.code == 1000) {
                        alert("Chào mừng bạn quay lại.");
                        window.localStorage.setItem('token', res.data.data.token);
                        user = res.data.data;
                        window.location.reload('/');
                    }
                    else {
                        alert("Thông tin bạn nhập không chính xác, vui lòng nhập lại.")
                        $('#phone').val("").focus();
                        $('#pass').val("");
                    }
                })
            }
            else {
                alert("Thông tin bạn nhập không chính xác, vui lòng nhập lại.")
                $('#phone').val("").focus();
                $('#pass').val("");
            }

        }
        function change() {
            document.getElementById("sale").style.color = "#ff789e";
        }
        function change1() {
            document.getElementById("sale").style.color = "gray";
        }
        function change2() {
            document.getElementById("intro").style.color = "#ff789e";
        }
        function change3() {
            document.getElementById("intro").style.color = "gray";
        }
        function change4() {
            document.getElementById("shop").style.color = "#ff789e";
        }
        function change5() {
            document.getElementById("shop").style.color = "gray";
        }
        $(document).ready(function () {
            $("#an").click(function () {
                $("#1").slideToggle();
                $("#2").slideToggle();
                $("#3").slideToggle();
                $("#4").slideToggle();
                $("#5").slideToggle();
                $("#6").slideToggle();

            });
            $("#mac").click(function () {
                $("#m1").slideToggle();
                $("#m2").slideToggle();
                $("#m3").slideToggle();
                $("#m4").slideToggle();
                $("#m5").slideToggle();
            });
            $("#gd").click(function () {
                $("#l1").slideToggle();
                $("#l2").slideToggle();
                $("#l3").slideToggle();
                $("#l4").slideToggle();
            });
        });
        function change6() {
            document.getElementById("qa").style.color = "#ff789e";
        }
        function change7() {
            document.getElementById("qa").style.color = "grey";
        }
        function change8() {
            document.getElementById("dk").style.color = "#ff789e";
        }
        function change9() {
            document.getElementById("dk").style.color = "grey";
        }
        function change10() {
            document.getElementById("baomat").style.color = "#ff789e";
        }
        function change11() {
            document.getElementById("baomat").style.color = "grey";
        }
        function change12() {
            document.getElementById("quyche").style.color = "#ff789e";
        }
        function change13() {
            document.getElementById("quyche").style.color = "grey";
        }
        function category(str) {
            $('html,body').animate({
                scrollTop: 0
            }, 'fast');
            axios.post('/api/get_category', {
                category_id: str,
                index: 0,
                count: 20
            }).then((res) => {
                //console.log("thuan");
                console.log(res);
                var html = "";
                if (str == 1) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>Bé Ăn</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/(1)%20B%C3%A9%20%C4%83n.jpg' style='width:100%;'>"
                }
                else if (str == 2) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>Bé Mặc</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/b%C3%A9%20m%E1%BA%B7c.jpg' style='width:100%;'>"
                }
                else if (str == 3) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>ĐỒ Dùng Gia Đình</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/do%20dung%20gia%20dinh.jpg' style='width:100%;'>"
                }
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src='" + res.data.data[i].imgavata + "'style='text-align: center;' width= '100%' height='100px'; />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                }
                document.getElementById('result').innerHTML = html;
            })
        }
        function brand(str) {
            $('html,body').animate({
                scrollTop: 0
            }, 'fast');
            axios.post('/api/get_list_brands',
                {
                    brand: str,
                    index: 0,
                    count: 20

                }
            ).then((res) => {
                console.log(res);
                var html = "";
                if (str == 11) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>GHẾ ĂN BỘT CHO BÉ</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/1(2).jpg' style='width:100%;'>"
                }
                else if (str == 12) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>BÌNH SỮA VÀ PHỤ KIỆN</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/2.jpg' style='width:100%;'>"
                }
                else if (str == 4) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>SẢN PHẨM KHÁC</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/61(1).jpg' style='width:100%;'>"
                }
                else if (str == 13) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>SỮA BỘT CÁC LOẠI</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/4.jpg' style='width:100%;'>"
                }
                else if (str == 14) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>BỘT, CHÁO, BÁNH ĂN DẶM</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/10.jpg' style='width:100%;'>"
                }
                else if (str == 15) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>ĐỒ DÙNG PHỤC VỤ ĂN UỐNG</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/19.jpg' style='width:100%;'>"
                }
                else if (str == 16) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>ĐỒ UỐNG ĐÓNG HỘP CHO BÉ</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/7.png' style='width:100%;'>"
                }
                else if (str == 31) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>PHÒNG BẾP</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/b%E1%BA%BFp%20c%C3%A1c%20lo%E1%BA%A1i(1).jpg' style='width:100%;'>"
                }
                else if (str == 32) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>PHÒNG TẮM</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/m%E1%BA%AFc%20ph%C6%A1i%20qu%E1%BA%A7n%20%C3%A1o.jpg' style='width:100%;'>"
                }
                else if (str == 33) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>PHÒNG KHÁCH</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/b%C3%A0n%20gh%E1%BA%BF.jpg' style='width:100%;'>"
                }
                else if (str == 34) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>PHÒNG NGỦ</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/t%E1%BB%A7%20%C4%91%E1%BB%B1ng%20%C4%91%E1%BB%93.jpg' style='width:100%;'>"
                }
                else if (str == 21) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>GIÀY DÉP CHO BÉ</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/dep%201(1).jpeg' style='width:100%;'>"
                }
                else if (str == 22) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>MŨ THỜI TRANG</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/m%C5%A9%20th%E1%BB%9Di%20trang.jpg' style='width:100%;'>"
                }
                else if (str == 23) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>ĐỒ SƠ SINH</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/qu%E1%BA%A7n%20%C3%A1o%20s%C6%A1%20sinh.jpg' style='width:100%;'>"
                }
                else if (str == 24) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>PHỤ KIỆN THỜI TRANG KHÁC</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/ph%E1%BB%A5%20ki%E1%BB%87n%20hco%20b%C3%A9%201.jpg' style='width:100%;'>"
                }
                else if (str == 25) {
                    html += "<h1 style='text-align:center;color:#ff789e ;'>THỜI TRANG CHO BÉ</h1><hr>"
                    html += "<img  src='https://moki.vn/images/images/b%C3%A9%20trai.jpg' style='width:100%;'>"
                }

                html += "<br><br>"
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src=" + res.data.data[i].imgavata + " style='width: 100%;text-align: center;height:150px;' />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                }
                // $('#product').innerHTML = html;
                document.getElementById('result').innerHTML = html;
            })
        }
    </script>

</head>

<body>
    <section class="top_header_wrapper">
        <div class="top_header_group">
            <div class="top_header">
                <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/46503734_266417004020223_5459113096339521536_n.png?_nc_cat=110&_nc_oc=AWMFg8chwC-CBjR2XVRIQf6eNs6jjZkG09COj9wgHWRLGZ1j5X8_x4gm3XOUaQ&_nc_ht=scontent.fhan2-2.fna&oh=aec90d0c32745219596fccf490bb86fd&oe=5C721233"
                    height="28px">&nbsp;
                Hotline:
                <span>0868</span>
                <span>608</span>
                <span>098</span>
                <div class="right-area col-sm-6">
                    &nbsp;Chào Mừng bạn đến với MOKI
                    &nbsp;&nbsp;&nbsp;&nbsp;|


                    <a onclick="login()" id="login" style="color:#fff;  text-decoration: none;" target="_blank">
                        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/46486321_2177397702508288_7120314478297612288_n.png?_nc_cat=102&_nc_oc=AWOiqlqibI2D5NfNK2WzWaKv9DRvnCZjBLqtJBfIjWwgsRLXbhQ4wY9hwM04UQ&_nc_ht=scontent.fhan2-1.fna&oh=2b2ef8a354a1d21f02406a3078af057e&oe=5C655EA1"
                            width="25px" height="25px">
                        Login
                    </a>

                    <script>

                    </script>
                    <!-- <input type="n" placeholder=""> -->

                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="singup" onclick="singup()" style="color:#fff; text-decoration: none;" target="_blank">
                        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/46440665_317047542225752_2007267865027149824_n.png?_nc_cat=103&_nc_oc=AWN3t8UhDVnXPH8JFHw2UrwWfqsKmAq_dr8dpbOvwRMWWdj1PmVuFRvV9crTpQ&_nc_ht=scontent.fhan2-1.fna&oh=940c8d0d66bf6491345cac7fcf16c9fc&oe=5C6DDD3A"
                            height="25px">&nbsp;&nbsp;&nbsp;
                        Sing Up
                    </a>


                    &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;




                </div>
            </div>
    </section>
    <div class="main-header">
        <div class="container">
            <div class="col-xs-1" style=" margin-left: -50px; ">
                <a href="/" style="color:#fff; text-decoration: none;" target="_blank">
                    <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/46482182_714947665540041_26052485638520832_n.jpg?_nc_cat=101&_nc_oc=AWMlpspRNctUDXqjleqivwA46NaMf7W4jaDNvD-p9MoTM2FBaTYmSgqC16Oz5g&_nc_ht=scontent.fsgn2-4.fna&oh=3caa3e83b5e1c98c6b0a23097cf4ae79&oe=5C6F4AA6"
                        height="100%" width="500%">
                </a>
            </div>
            <div class="col-xs-5"></div>
            <div class="search col-xs-5 ">
                <input type="text" id="search" class="search_input" name="search" placeholder="Tìm kiếm sản phẩm" value=""
                    required>
                <button type="submit" onclick="search()" class="button_input glyphicon glyphicon-search"></button>
                <div style=" margin-left: -100px; ">
                    <table>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a href="/" style="text-decoration: none;">
                                    <div class="a" id="tc" style="color:#ff789e">TRANG CHỦ</div>
                                </a>
                            </td>
                            <td colspan="3">
                                <a href="/flashsale" style="text-decoration: none;">
                                    <div class="a" id="sale" onmouseover="change()" ; onmouseout="change1();">GÓC SALE</div>
                                </a>
                            </td>
                            <td colspan="3">
                                <a href="/intro" style="text-decoration: none;">
                                    <div class="a" id="intro" onmouseover="change2()" ; onmouseout="change3();">GIỚI
                                        THIỆU</div>
                                </a>
                            </td>
                            <td colspan="3">
                                <a href="/shopmoki" style="text-decoration: none;">
                                    <div class="a" id="shop" onmouseover="change4()" ; onmouseout="change5();">SHOP
                                        MOKI</div>
                                </a>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <a href="https://www.facebook.com/thuanbka" target="_blank" style="text-decoration: none;">
                                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46401353_259433991401871_2351997054194024448_n.jpg?_nc_cat=105&_nc_oc=AWM6zPDbr8J36T9Ac2ltdELkfw4Mll9ochY-MEejoG_IWl5_4T0foOb71VJZXg&_nc_ht=scontent.fhan2-4.fna&oh=834397feb328a7ea7e8de02d8fd35b6e&oe=5C78BE02"
                                        height="28px" class="a">
                                </a>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <a href="
                                        https://twitter.com/MOKI_VN" target="_blank"
                                    style="text-decoration: none;">
                                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46459243_503715120142223_5861379913671507968_n.png?_nc_cat=105&_nc_oc=AWPLC0U39Q6r9l_mryfgq7E9E3Iu-UpAeeLhTux7nr-9vbBXc66jmjSNIhL_lw&_nc_ht=scontent.fhan2-4.fna&oh=07a8380d7c64fb40415e09a1189f3a10&oe=5C8108A1"
                                        height="28px" class="a">
                                </a>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <a href="https://youtu.be/fJX0s5tjBFw" target="_blank" style="text-decoration: none;">
                                    <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/46520497_258081331731452_5346733168210739200_n.png?_nc_cat=101&_nc_oc=AWPIiCKy6EG9XUN40x5hLm-3I8TFRCwepm--kp9pdNh65EKiIzPwoGRT8T9CpQ&_nc_ht=scontent.fsgn2-4.fna&oh=5cddcabc417c6b6d1a0b07ab704026fc&oe=5C7D4DB8"
                                        height="28px" class="a">
                                </a>
                            </td>
                            <td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <a href="https://www.instagram.com/moki.vn/" target="_blank" style="text-decoration: none;">
                                    <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46494508_254665261896742_5567074576862543872_n.jpg?_nc_cat=100&_nc_oc=AWM_zHrk_fK3WQo_vxo7XTSSGCwKf6IUYiQFDR5Q8sv7O902Yu0O8j6Dnb2n2w&_nc_ht=scontent.fhan2-4.fna&oh=b4dcdc0ab8d28c2d3234329aa9e0c555&oe=5C7883E7"
                                        height="28px" class="a">
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="mainpage">
        <div class="container">
            <div class=" col-xs-3">
                <div class="ab" style=" background: #f0f0f0 url(//cdn.shopify.com/s/files/1/1786/6805/t/2/assets/bkg_collection.jpg?1013842…) 0 0 repeat;">
                    <div class="list">
                        <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/46438423_196665437919778_5703607004472279040_n.png?_nc_cat=103&_nc_oc=AWNPWzELaTb1xfa1dHxg4RX-6drtPvFyNCv2tnGdI7mH6Rwt1Fw2vwv_mC2HqA&_nc_ht=scontent.fhan2-1.fna&oh=9b1c27a838b1d19808ce268748002e88&oe=5C669465"
                            height="100%;">
                        Danh mục sản phẩm
                    </div>
                    <br>
                    <div style="font-size: 16px; color: #686868;">
                        <ul type="none" id="an">
                            <span>Bé Ăn</span>
                            <li id="1">
                                <k onclick="brand(11);"> Ghế ăn bột cho bé</k>
                            </li>
                            <li id="2">
                                <k onclick="brand(12);">Bình sữa và phụ kiện</k>
                            </li>
                            <li id="3">
                                <k onclick="brand(13);">Sữa bột các loại</k>
                            </li>
                            <li id="4">
                                <k onclick="brand(14);">Bột, Cháo, Bánh ăn dặm</k>
                            </li>
                            <li id="5">
                                <k onclick="brand(15);">Đồ dùng phục vụ ăn uống</k>
                            </li>
                            <li id="6">
                                <k onclick="brand(16);">Đồ uống đóng hộp cho bé</k>
                            </li>
                        </ul>
                        <hr>
                        <ul type="none" id="mac">
                            <span>Bé Mặc</span>
                            <li id="m1">
                                <k onclick="brand(21);">Giày dép cho bé</k>
                            </li>
                            <li id="m2">
                                <k onclick="brand(22);">Mũ thời trang</k>
                            </li>
                            <li id="m3">
                                <k onclick="brand(23);">Đồ sơ sinh</k>
                            </li>
                            <li id="m4">
                                <k onclick="brand(24);"> Phụ kiện thời trang khác</k>
                            </li>
                            <li id="m5">
                                <k onclick="brand(25);"> Thời trang cho bé</k>
                            </li>
                        </ul>
                        <hr>
                        <ul type="none" id="gd">
                            <span>Đồ dùng gia đình</span>
                            <li id="l1">
                                <k onclick="brand(31);"> Phòng bếp</k>
                            </li>
                            <li id="l2">
                                <k onclick="brand(32);">Phòng tắm giặt</k>
                            </li>
                            <li id="l3">
                                <k onclick="brand(33);">Phòng khách</k>
                            </li>
                            <li id="l4">
                                <k onclick="brand(34);">Phòng ngủ</k>
                            </li>
                        </ul>
                        <hr>

                        <ul><span>
                                <k onclick="brand(4);">Sản Phẩm Khác</k>
                            </span></ul>
                        <hr>
                    </div>
                </div>
                <div style="background-color:#fff">
                    <div class="container ">
                        <h3>Sản phẩm mới nhất</h3>
                    </div>
                    <hr>
                    <div>
                        <img id="mes" style="height: 100px; width: 100%" src="http://storage.ning.com/topology/rest/1.0/file/get/558275?profile=original">
                        <div id="newproduct"></div>
                    </div>
                </div>
            </div>
            <div class=" col-xs-9 ab1" id="sanpham">
                <div id="result">
                    <h1 style='text-align:center;color:#ff789e ;'>MOKI-SHOP TRAO ĐỔI MUA BÁN</h1>
                    <hr>
                    <img src='https://moki.vn/images/images/s%C3%A1ch%20cho%20m%E1%BA%B9.png' style='width:100%;'>
                </div>
                <br><br>
                <div>
                    <div>
                        <a><img src="https://moki.vn/files/bannerhome/bb533e77229fe2582eedbb38556386ab.jpg" style="width:821px;" /></k>
                    </div>
                    <div class="grcontent">
                        <div class="col-md-4">

                            <div class="chu" style="border-bottom: 1px dashed #ff789e;">
                                <div class='gachchanba' style='font-size: 20px; font-weight: 700; color: #502625;'
                                    onclick="category(1);">BÉ ĂN</div>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(11);"> Ghế ăn bột cho bé</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(12);">Bình sữa và phụ kiện</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(13);">Sữa bột các loại</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(14);">Bột, Cháo, Bánh ăn dặm</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(15);">Đồ dùng phục vụ ăn uống</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(16);">Đồ uống đóng hộp cho bé</k>
                            </div>
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/9.jpg" style="width: 256px;margin-top: 20px; " />
                        </div>
                        <div class="col-md-8" id="bean">

                        </div>
                    </div>
                    <div>
                        <a><img src="https://moki.vn/files/bannerhome/bf5170ebef2f6025cdc989ff3754cdfe.jpg" style="width:821px;" /></a>
                    </div>
                    <div class="grcontent">
                        <div class="col-md-4">

                            <div class="chu" style="border-bottom: 1px dashed #ff789e;">
                                <div class='gachchanba' style='font-size: 20px; font-weight: 700; color: #502625;'
                                    onclick="category(2);">BÉ MẶC</div>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(21);">Giày dép cho bé</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(22);">Mũ thời trang</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(23);">Đồ sơ sinh</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(24);"> Phụ kiện thời trang khác</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(25);"> Thời trang cho bé</k>
                            </div>
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/1.jpg" style="width: 256px;margin-top: 20px; " />
                        </div>
                        <div class="col-md-8" id="bemac">

                        </div>
                    </div>
                    <div>
                        <a><img src="https://moki.vn/files/bannerhome/022f7099d0123a6f27a51be045061552.jpeg" style="width:821px;" /></a>
                    </div>
                    <div class="grcontent">
                        <div class="col-md-4">
                            <br>
                            <H4 style='font-size: 20px; font-weight: 700; color: #502625;' onclick="category(3);">ĐỒ
                                DÙNG GIA ĐÌNH</H4>
                            <div style="border-bottom: 1px dashed #ff789e;">
                                <div class='gachchanba'></div>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(31);"> Phòng bếp</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(32);">Phòng tắm giặt</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(33);">Phòng khách</k>
                            </div>
                            <div class="dongbean">
                                <k onclick="brand(34);">Phòng ngủ</k>
                            </div>
                            <img src="https://moki.vn/images/files/anh_banner_left_moi/6.jpeg" style="width: 256px;margin-top: 20px; " />
                        </div>
                        <div class="col-md-8" id="giadinh">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementsByTagName("body")[0].onload = getDefaultData;
        function getDefaultData() {
            // event.preventDefault();
            if (localStorage.getItem("token") != null) {
                document.getElementById('login').innerHTML = "Hello";
                document.getElementById('singup').innerHTML = "Thoat";
            }
            axios.post('/api/home', {
                index: 0,
                count: 5
            }).then((res) => {
                $('#mes').addClass("hidden");
                //console.log(res.data.data[0].id);
                var html = "";
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "<table><tr><th></th><th></th><th></th></tr>"
                    html += " <tr><th><img src=" + res.data.data[i].imgavata + " height='75px' width='75px' > </th>"
                    html += " <th>&nbsp; &nbsp;&nbsp;&nbsp;</th><td align='left' style='font-size: 14px; color: #686868;'>" + res.data.data[i].name + "</td></tr>";
                    html += "<tr><th></th><th></th><th style='font-size: 20px; font-weight: 700; color: #502625;'>" + res.data.data[i].price + "₫</th></tr></table></a><hr>"

                }
                // $('#product').innerHTML = html;
                document.getElementById('newproduct').innerHTML = html;
                $('#produ').addClass('animated animated-bounce');

            })

            axios.post('/api/get_category', {
                category_id: 1,
                index: 0,
                count: 9
            }).then((res) => {
                //console.log("thuan");
                console.log(res);
                var html = "";
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src='" + res.data.data[i].imgavata + "'style='text-align: center;' width= '100%' height='100px'; />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                }
                document.getElementById('bean').innerHTML = html;
            })
            axios.post('/api/get_category', {
                category_id: 2,
                index: 0,
                count: 9
            }).then((res) => {
                //console.log("thuan");
                console.log(res);
                var html = "";
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src='" + res.data.data[i].imgavata + "'style='text-align: center;' width= '100%' height='100px'; />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                }
                document.getElementById('bemac').innerHTML = html;
            })
            axios.post('/api/get_category', {
                category_id: 3,
                index: 0,
                count: 9
            }).then((res) => {
                //console.log("thuan");
                console.log(res);
                var html = "";
                for (let i = 0; i < res.data.data.length; i++) {
                    html += "<a href='/getproduct/" + res.data.data[i].id + "'style='text-decoration: none;'> ";
                    html += "  <div class=' anhbean col-md-4'>";
                    html += "<img src='" + res.data.data[i].imgavata + "'style='text-align: center;' width= '100%' height='100px'; />";
                    html += "<div class='center gachphancach'><div style='text-align: center;height:30px;'>" + res.data.data[i].name + "</div>"
                    html += "<div class='chu '><h4>" + res.data.data[i].price + "đ</h4>";
                    html += " </div></div> </div></a>"

                }
                document.getElementById('giadinh').innerHTML = html;
            })

        }
    </script>
    <div id="login1"></div>


    <div class="button_page" style=" background: #f0f0f0 url(//cdn.shopify.com/s/files/1/1786/6805/t/2/assets/bkg_collection.jpg?1013842…) 0 0 repeat;">
        <div class="row">

            <div class="col-xs- col-sm- col-md- col-lg-">
                &nbsp;
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-1">
                    <a href="/question" style="text-decoration: none;">
                        <div id="qa" onmouseover="change6()" ; onmouseout="change7();" style="font-size:20px;color:grey">Hỏi
                            và đáp</div>
                    </a>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <a href="/dieukhoansudung" style="text-decoration: none;">
                        <div id="dk" onmouseover="change8()" ; onmouseout="change9();" style="font-size:20px;color:grey">Điều
                            khoản sử dụng</div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/baomatthongtinkhachhang" style="text-decoration: none;">
                        <div id="baomat" onmouseover="change10()" ; onmouseout="change11();" style="font-size:20px;color:grey">Bảo
                            mật thông tin khách hàng</div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="/quychehoatdong" style="text-decoration: none;">
                        <div id="quyche" onmouseover="change12()" ; onmouseout="change13();" style="font-size:20px;color:grey">Quy
                            chế hoạt động</div>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <a href="/" style="color:#fff; text-decoration: none;" target="_blank">
                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46440636_337710300364990_2557987190403497984_n.png?_nc_cat=100&_nc_oc=AWM6iXag7nlvM1nSMS4cvfxUdNulGPJs8CpYIifXKeLsSwDdgp31Yrtp7OXRLg&_nc_ht=scontent.fhan2-4.fna&oh=b162263da10a116a3a8197d6248821a5&oe=5C7CD8ED"
                    height="25%" width="50%">
            </a>
            <hr style="border-color:black">
            <h5>- CÔNG TY CỔ PHẦN MOKI</h5>
            <h5>- Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.</h5>
            <h5>- Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.</h5>
            <h5>- Web mô phỏng lại web chính <a>www.moki.vn</a> thuộc bài tập lớn môn thiết kế và lập trình Web</h5>
            <hr style="border-color:black">
        </div>
        <div class="col-xs-2 b">
            <h4>Các dịch vụ giao hàng</h4>
            <img src="http://thanhnien.vnpost.vn/static/img/vnpost.png" alt="" height="60px"><br><br><br>
            <img src="https://giaohangtietkiem.vn/wp-content/uploads/2015/10/logo.png" height="60px" alt="">
        </div>
        <div class="col-xs-2 b">
            <h4>Phương thức thanh toán</h4>
            <img src="https://i2.wp.com/scentfie.com/wp-content/uploads/2017/11/Cash-On-Delivery-Logo.jpg?resize=366%2C144"
                alt="" height="60px"><br><br>" <br><br>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-3 b">
            <h4> Liên Hệ</h4>
            <span style="font-size:14px;color:black; font-weight: bold">TRỤ SỞ CHÍNH:</span>
            <br>
            <span>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold">Địa chỉ giao dịch:</span>
            <br>
            <span>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</span>
            <br>
            <span>Hotline: 0868.608.098</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold">Thời gian làm việc:</span>
            <br>
            <span>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</span>
            <br>
            <span>Thứ 7:8h00 - 12h00</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold"> Web truy cập:</span>
            <a href="">Bkstore.herokuapp.com</a>
        </div>
        <button type="submit"></button>

    </div>
</body>

</html>
